body {
    width: 100%;
    height: auto;
}

.muroAzul {
    display: flex;
    background-color: #00193B;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.muroAzul:hover {
    background-color: hsl(215, 94%, 21%);
    transition: 0.9s;
}

.muroAzul:not(:hover) {
    background-color: #00193B;
    transition: 0.9s;
}

.muroAzul section {
    color: white;
    font-size: xx-large;
    font-family: "Montserrat", sans-serif;
}

.muroAzul section:hover {
    color: rgb(238, 238, 238);
    transition: 0.9s;
    font-weight: 600
}

.muroAzul section:not(:hover) {
    color: rgb(255, 255, 255);
    transition: 0.9s;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cookie-banner p {
    margin: 0;
    padding: 0 10px;
}

.cookie-banner button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#accept-cookies {
    background-color: #4CAF50; /* Green */
    color: white;
}

#reject-cookies {
    background-color: #f44336; /* Red */
    color: white;
}
